{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div {{ react_component('Hello') }}></div>
    </div>
{% endblock %}
